header {
    background-color: rgb(162, 162, 222);
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background-image: url("../images/logo.png");
    background-position: 20px 50%;
    background-repeat: no-repeat;
    content: "Logo"; 
}

@media (max-width: 738px) {
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
